<div class="navigation col s2 ">
    <div class="logo center white-text">
        <span class="light"><i class="fa fa-pencil fa-1x"></i>CRUD</span>
    </div>
    <div class="list-group white-text">
        <a href="{{URL}}" class="list-group-item white-text"><i class="fa fa-home fa-fw" aria-hidden="true"></i>
            Home
        </a>
        
        <a href="{{URL}}/novo" class="list-group-item white-text"><i class="fa fa-edit fa-fw" aria-hidden="true"></i>
            Novo Cliente
        </a>

        <a href="{{URL}}/lista" class="list-group-item white-text"><i class="fa fa-list fa-fw" aria-hidden="true"></i>
            Lista de Clientes
        </a>
        
        {{usuarios}}
        <a href="{{URL}}/perfil" class="list-group-item white-text"><i class="fa fa-user fa-fw" aria-hidden="true"></i>
            Meu Perfil
        </a>
        
        <a href="{{URL}}/logout" class="list-group-item white-text"><i class="fa fa-power-off fa-fw" aria-hidden="true"></i>
            Sair
        </a>
    </div>
</div>