html,body{
    height: 100%;
    background-image: url(../crud1/assets/hero_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    height: inherit;
    background-color: rgba( 0,0,0,0.8);
}

.login {
    height: 50%;
    width: 90%;
    margin-top: 25%;
    padding: 10px;
}
.campus{
    padding: 0px 20px;
}